<a href="https://colab.research.google.com/github/Udaykiran06-art/PYHTON-STRINGS/blob/main/Python_Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#printing welcome to pytho programming
print("Hello World")

Hello World

In [ ]:
# not in operator
print("b"not in 'uday')

True

In [ ]:
#printing str class methods by using dir(str)function
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
#conventing from lowercase to uppercase
name = "uday"
print("Before Conventing:",name)
print("After Conventing:",name.upper())

Before Conventing: uday
After Conventing: UDAY

In [ ]:
#conventing from uppercase to lowercase
name = "UDAY"
print("Before Conventing:",name)
print("After Conventing:",name.lower())

Before Conventing: UDAY
After Conventing: uday

In [ ]:
#removing spaces in starting and ending of the string
name = " Uday    "
print("Before Removing Spaces length is:",len(name))
x = name.strip()
print("After Removing Spaces length is:",len(x))

Before Removing Spaces length is: 9
After Removing Spaces length is: 4

In [ ]:
#counting sub string by using count()method
s = "Python Programming language,Pyhton is easy "
print(s.count("Python"))
print(s.count("hello"))

1
0

In [ ]:
#replacing string by using replace method
s1 = "Python Programming Language"
s2 = s1.replace("Python","Java")
print(s1)
print(s2)

Python Programming Language
Java Programming Language

In [ ]:
#replacing string by using replace(p1,p2)method
s1 = "Python Programming Language"
s2 = s1.replace("Python","Java")
print(s1)
print(s2)

print(id(s1))
print(id(s2))

Python Programming Language
Java Programming Language
137941104354336
137941104310464

In [ ]:
#spliting string by using split()method
s1 = "Python Programming Language"
u = s1.split()

print("Before Spliting:",s1)
print("After Spliting:",u)

Before Spliting: Python Programming Language
After Spliting: ['Python', 'Programming', 'Language']

In [ ]:
#spliting string by using split(p)method
s = "This is,Python Programming,Language"
u = s.split(",")
print("Before Spliting:",s)
print("After Spliting:",u)

Before Spliting: This is,Python Programming,Language
After Spliting: ['This is', 'Python Programming', 'Language']

In [ ]:
#creating a string by using all possibillites
name1 = 'Uday'
name2 = "Deepu"
name3 = '''Revanth'''
name4 = """Mohit"""
print(name1,"name is created by using single quotes")
print(name2,"name is created by using double quotes")
print(name3,"name is created by using triple quotes")
print(name4,"name is created by using triple double quotes")

Uday name is created by using single quotes
Deepu name is created by using double quotes
Revanth name is created by using triple quotes
Mohit name is created by using triple double quotes

In [ ]:
#printing employees information
loc1 = """Tcs company
          white field
          banglore"""

loc2 = """Infosys company
          white field
          banglore"""

print(loc1)
print()
print(loc2)

Tcs company
          white field
          banglore

Infosys company
          white field
          banglore

In [ ]:
#accessing string by using index
wish = "Happy Birthday"
print(wish[0])
print(wish[1])
print(wish[6])

H
a
B

In [ ]:
#accessing string by using slicling
wish = "Happy Birthday"
print(wish[0:5])
print(wish[5:14])

Happy
 Birthday

In [ ]:
#accessing string by using for loop
wish ="Happy Birthday"
for char in wish:
  print(char)

H
a
p
p
y

B
i
r
t
h
d
a
y

In [ ]:
#printing name and first index in string
name = "Sarvani"
print(name)
print(name[0])

Sarvani
S

In [ ]:
#string having immutable nature
name = "Vidya"
print(name)
print(name[0])
name[0]="x"

Vidya
V

TypeError: 'str' object does not support item assignment

In [ ]:
# +works as concatenation operator
a = "Python"
b = "Programming"
print(a+b)

PythonProgramming

In [ ]:
# *works as repetition in strings
course = "Python"
print(course*3)

PythonPythonPython

In [ ]:
#length of the string
course = "Python"
print(len(course))

6

In [ ]:
# in operator
print("p" in 'python')
print("z" in 'python')
print("PY" in 'pyhton')
print("on" in 'python')
print("pa" in 'python')

True
False
False
True
False